:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: var(--primary-white);
}

/* ======================about start */
.about_container {
  background-color: var(--primary-white);
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.about .ab1 {
  display: flex;
  justify-content: space-evenly;
  height: 620px;
}

.about .ab1 p {
  font-size: 32px;
  font-weight: 550;
  position: relative;
  line-height: 33px;
  padding-top: 80px;
  padding-right: 40px;
  font-family: 'Josefin Slab', serif;
}

.about .ab2 {
  display: flex;
  padding-bottom: 120px;
}

.about .ab2 p {
  font-size: 32px;
  font-weight: 550;
  position: relative;
  line-height: 33px;
  font-family: 'Josefin Slab', serif;
  padding-left: 80px;
}

.about p button {
  background-color: var(--primary-black);
  padding: 6px 25px;
  border: 2px solid var(--primary-black);
}

.about p button a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 20px;
  font-weight: 500;
  font-family: 'Josefin Slab', serif;
  font-family: 'Roboto', sans-serif;
}

.about p button:hover {
  background-color: var(--primary-white);
  transition: all 0.3s ease-out;
}

.about p button:hover a {
  color: var(--primary-black);
}

.about img {
  width: 400px;
  height: 400px;
}

.bold {
  font-size: 40px;
  font-weight: bolder;
}

/* about end */


/* Responsivness */

@media only screen and (min-width:1555px){
  .about{
    padding-left: 380px;
  }
}
@media only screen and (max-width:839px){
  .about {
    gap: 10rem;
  }
  .about .ab1 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
  }
  .about .ab2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
  }
 
    .about .ab2 p {
      font-size: 32px;
      font-weight: 550;
      position: relative;
      line-height: 33px;
      font-family: 'Josefin Slab', serif;
      padding-left: 0px;
  }
}
@media only screen and (max-width:491px){
   .about img{
    width: 450px;
   }
}

@media only screen and (max-width:458px){
  .about .ab1 {
    padding-top: 200px;
  }
  .about p button {
    padding: 9px 20px;
  }
}
@media only screen and (max-width:428px){
  .about {
    gap: 15rem;
  }
  .about .ab1 {
    padding-top: 290px;
  }
  .about p button {
    padding: 9px 20px;
  }
}
@media only screen and (max-width:420px){
  .about p button {
    padding: 3px 19px;
  }
}
@media only screen and (max-width:418px){
  .about p button {
    padding: 3px 14px;
  }
}
@media only screen and (max-width:408px){
  .about p button {
    padding: 3px 10px;
  }
}
@media only screen and (max-width:400px){
  .about {
    gap: 19rem;
  }
  .about .ab1 {
    padding-top: 340px;
  }
  .about p button {
    padding: 3px 8px;
  }
}

@media only screen and (max-width:396px){
  .about {
    gap: 20rem;
  }
  .about .ab1 {
    padding-top: 370px;
  }
  .about p button {
    padding: 3px 4px;
  }
}
@media only screen and (max-width:388px){
  .about p button {
    padding: 0px 3px;
  }
}

