:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: var(--primary-white);
}

/* ======================about start */
.about_container {
  background-color: var(--primary-white);
}

.about {
  display: grid;
  justify-content: center;
  margin: 100px 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.about .ab1 {
  display: flex;
  margin-bottom: 40px;
}

.about .ab1 p {
  margin-right: 100px;
  font-size: 32px;
  font-weight: 550;
  position: relative;
  line-height: 33px;
  top: 30%;
  font-family: 'Titillium Web', serif;
  font-weight: 300;
}

.about .ab2 {
  display: flex;

  margin-bottom: 100px;
}

.about .ab2 p {
  margin-left: 100px;
  font-size: 32px;
  font-weight: 550;
  position: relative;
  top: 10%;
  line-height: 33px;
  /* font-family: 'Josefin Slab', serif; */
  font-family: 'Titillium Web' ,sans-serif;
  font-weight: 300;
}

.about p button {
  background-color: var(--primary-black);
  padding: 0px 25px;
  border: 2px solid var(--primary-black);
}

.about p button a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 20px;
  font-weight: 500;
  /* font-family: 'Josefin Slab', serif;
  font-family: 'Roboto', sans-serif; */
  font-family: 'Titillium Web';
}

.about p button:hover {
  background-color: var(--primary-white);
  transition: all 0.3s ease-out;
}

.about p button:hover a {
  color: var(--primary-black);
}

.about img {
  width: 400px;
  height: 400px;
}

.bold {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

/* about end */
