/* ======================about start */
body{
  margin: 0%;
  padding:0%;
}
.about {
  display: grid;
  padding-left: 150px;
  padding-right: 150px;
}

.about .ab1 {
  display: flex;
  margin-bottom: 40px;
}
.ab1 {
  margin-top: -30px;
  padding-top: 0px;
  margin-bottom: 0px;
}

.about .ab1 p {
  margin-right: 100px;
  font-size: 32px;
  /* font-weight: 550; */
  position: relative;
  top: 15%;
  font-family: 'Josefin Slab', serif;
}

.about .ab2 {
  display: flex;
  margin-bottom: 100px;
}

.about .ab2 p {
  margin-left: 100px;
  font-size: 32px;
  /* font-weight: 550; */
  position: relative;
  top: 10%;
  font-family: 'Josefin Slab', serif;
}

.about p button {
  background-color: var(--primary-black);
  padding: 8px 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.about p button a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 20px;
  font-weight: 700;
  font-family: 'Josefin Slab', serif;
  font-family: 'Roboto', sans-serif;
}

.about p button :hover  {
  background-color: var(--primary-white);
  color: black;
  padding: 8px 25px;
  border: none;
  font-weight: bolder;
  transition: all 0.3s ease-out;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 8px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.about img {
  width: 400px;
  height: 400px;
   transition: all 1s ease;
   margin-top: 15px;
}

.bold {
  font-size: 40px;
  font-weight: bolder;
}

/* about end */
