.transition-before {
  transform: translateY(20vh);
}

.transition-after {
  transform: translateY(0);
}

.backToTopButton {
  position: fixed;
  z-index: 50;
  bottom: 1rem;
  right: 1rem;
  transition: all;
  transition-delay: 100ms;
  transition-duration: 500ms;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: black;
  background-color: #fde101;
  animation:animate 4s alternate infinite;
}

.backToTopButton:hover{
  opacity:90%;
}

.backToTopButton i {
  font-size: 24px;
}

/* .backToTopButton .button.dark-mode{
  color: #1f1f1f;
  background-color: white;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
} */

.transition-after:hover {
  transform: scale(1.1);
}

/* .top .button.dark-mode{
  background-color:white;
  color:white;
} */

@media (min-width: 768px) {
  .backToTopButton {
    width: 3rem;
    height: 3rem;
  }

  .transition-before {
    transform: translateY(10vh);
  }

  .transition-after {
    transform: translateY(0);
  }
}
