.transition-before {
  transform: translateY(-100vh);
}

.transition-after {
  transform: translateY(0);
}

.backToTopButton {
  position: fixed;
  z-index: 50;
  bottom: 1rem;
  right: 1rem;
  transition: all;
  transition-delay: 100ms;
  transition-duration: 500ms;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  background-color: #5432c5;
}

.transition-after:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .backToTopButton {
    width: 3rem;
    height: 3rem;
  }
}
