/* card css start */
.card-head {
  display: flex;
  gap: 20px;
  align-items: center;
}

.grid {
  padding: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, auto));
  align-items: start;
  justify-content: center;
  gap: 2rem 2rem;
  text-align: center;
  margin-top: 1rem;
  min-height: 55vh;
  text-align: center;
  margin: 1rem;
  
}

.grid > article {
  position: relative;
  height: 220px;
  max-width: 350px;
  border: 1px solid var(--primary-black);
  box-shadow: 8px 8px 2px 0px var(--primary-black);
  background-color: var(--primary-white);
  padding: 10px 0px;
  border-radius: 20px;
}

.grid > article:hover {
  box-shadow: 6px 6px 0px 0px var(--primary-black);
}

img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.grid > article .btn-cont {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.grid .text {
  padding: 15px 5px;
  padding: -2px 30px 0px 30px;
  margin-block: 5px;
  padding-block: 10px;
  color: #000000;
  border: 1px solid gray;
  font-size: 18px;
  border-radius: 6px;
  margin-inline: 10px;
  box-shadow: 3px 5px 9px gray;
  letter-spacing: .8px;
  text-shadow:  2px 2px 3px  rgba(150, 172, 197, 0.385);
text-align: left;
margin-left: 5px;
 padding-top: 5px;

}

.grid .text p {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 9px;
  height: 60px;
  overflow-y: hidden;
  font-family: 'Roboto', sans-serif;
}

.grid .text h3 {
  text-align: left;
  position: relative;
  right: 10px;
}

h3 .card-title {
  color: #000;
  text-align: left;
  position: relative;
  bottom: 12px;
  font-size: 22px;
  left: 6px;
}

.btn-cont button {
  background-color: var(--primary-black);
  padding: 8px 25px;
  border-radius: 8px;
  margin: -5px;
  
  margin-left: 40px;
/* position: absolute;
left: 50%; */
}

.btn-cont button a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 16px;
  font-weight: 600;
  font-family: 'Open Sans';
}

.btn-cont button i {
  position: relative;
  top: 3px;
  margin-left: 5px;
}

.btn-cont button:hover {
  transform: scale(1.05);
}

.bookmark {
  cursor: pointer;
}

.visit {
  cursor: pointer;
}

.no-results {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #1f1e1e;
  padding-top: 5rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  min-height: 55vh;
}
/* card end */
