@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500;600&family=Cutive&family=Genos:wght@400;600&family=Gloock&family=Inconsolata:wght@300;400&family=Inter&family=Montserrat:wght@400;700;900&family=Poppins:wght@400;600;800&family=Rampart+One&family=Rubik+Glitch&family=Sacramento&family=Space+Mono:wght@400;700&display=swap');

.footerNew {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #101010;
  color: var(--primary-white);
  padding: 30px 100px 30px 50px;
}

.footer_left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_left p {
  font-size: 19px;
  letter-spacing: 0.4px;
}

.footer_left span a {
  color: rgba(169, 169, 169, 0.733);
  text-decoration: none;
  text-transform: capitalize;
  font-size: 20px;
  letter-spacing: 0.6px;
  transition: color 0.3s ease;
}

.footer_left span a:hover {
  color: darkgray;
}

.footer_middle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer_middle h3 b {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.footer_middle p {
  color: #7b7b7b;
  font-size: 18px;
}

.footer_right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.footer_right .social_icon {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 6px;
}

.footer_right .social_icon a {
  text-decoration: none;
}

.footer_right .social_icon a i {
  color: rgb(127, 127, 127);
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer_right .social_icon .third_social i {
  font-size: 22px;
}

.footer_right .social_icon a i:hover {
  color: white;
}

.footer_right b {
  font-size: 19px;
}
