/* ===================footer  */

footer {
  background: #1a1919;
  height: auto;
  font-family: 'Open Sans';
  padding-top: 40px;
  color: var(--primary-white);
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  display: flex;
  align-items: center;
}
.footer-content h3 img {
  width: 220px;
  height: 60px;
  margin-right: 10px;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0 1rem 0;
}
.socials li {
  margin: 0 10px;
  transition: all 0.5s ease;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.2rem;
  transition: color 0.4s ease;
}

.socials li:hover {
  transform: scale(1.2);
}

.socials_twitter:hover{
  color: #00acee;
}
.socials_github:hover {
  color: #7936a2;
}

.socials_linkedin:hover{
  color: #0e76a8;
}
.socials_mail:hover{
  color: rgb(201, 44, 25);
}

.footer-bottom {
  background: #0e0d0d;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 0;
}
.footer-bottom p {
  font-size: 18px;
  word-spacing: 2px;
  text-transform: capitalize;
  line-height: 20px;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: .75;
  font-weight: 400;
  letter-spacing: .02rem;
}
.footer-bottom ul {
  margin: 0;
}
.footer-bottom a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 20px;
}
