/* ===================footer  */

footer {
  background: #1a1919;
  height: auto;
  font-family: 'Open Sans';
  padding-top: 40px;
  color: var(--primary-white);
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  display: flex;
  align-items: center;
}
.footer-content h3 img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
}

.footer-content p {
  max-width: 500px;
  margin: 15px auto 5px;
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
}

.footer-content p:nth-child(2) {
  margin-top: 10px;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem 0 1rem 0;
}
.socials li {
  margin: 0 15px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.25rem;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #0e0d0d;
  color: #bbb;
  padding: 10px 20px;
  text-align: center;
  padding-bottom: 0;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  line-height: 20px;
}
.uppercase {
  text-transform: uppercase;
}
.footer-bottom span {
  font-weight: 200;
}
.footer-bottom ul {
  margin: 0;
}
.footer-bottom a {
  text-decoration: none;
  color: var(--primary-white);
  font-size: 14px;
}
