/* GridView.css */
:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

.skeleton{
  opacity: .7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-txt {
  width: 100%;
  height: .5rem;
  margin-bottom: .25rem;
  border-radius: .125rem;
}
.skeleton-txt :last-child {
  margin-bottom: 0;
  width: 80%;
}

@keyframes skeleton-loading{
  0%{
    background-color: hsl(200, 20%, 70%);
  }
  100%{
    background-color: hsl(200, 20%, 95%);
  }
}

.grid .card-title{
  color: var(--primary-black);
}

.grid .visit{
background-color:var(--primary-black);
color:var(--primary-white);
}

.grid .bookmark{
background-color:var(--primary-black);
color:var(--primary-white);
}

.grid .visit:hover{
transition: all 0.3s ease-out;
}

.grid .bookmark:hover{
transition: all 0.3s ease-out;
}

.grid .delete{
background-color:var(--primary-black);
color:var(--primary-white);
}

.grid .delete:hover{
transition: all 0.3s ease-out;
}
/* Dark mode styles */

.grid .card-title.dark-mode{
  color:white;
}

.grid .visit.dark-mode {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.grid .visit.dark-mode:hover {
  transition: all 0.3s ease-out;
}

.grid .bookmark.dark-mode {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.grid .bookmark.dark-mode:hover {
  transition: all 0.3s ease-out;
}


.zoomImg {
  width: 100%;
  height: 100%;
  scale: 1.4;
  object-fit: contain;
}
.tag {
  height: 30px !important;
}
