/*styles/header.css*/
:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

* {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: var(--primary-white);
}

nav {
  height: 74px;
  line-height: 70px;
  border-bottom: 2px solid var(--primary-black);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--primary-white);
}

.nav-container {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  float: left;
  color: var(--primary-black);
  text-transform: uppercase;
}

@media screen and (max-width: 360px) {
  .nav-container {
    display: flex;
    /* float: left; */

  }
}

/* side navbar start */
.wrapper {
  height: 100%;
  width: 73px;
  position: relative;
  top: -48px;
}
.wrapper .menu-btn {
  position: relative;
  left: 20px;
  top: 60px;
  background: var(--primary-white);
  color: var(--primary-black);
  height: 45px;
  width: 45px;
  z-index: 9999;
  border: 2px solid #333;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .menu-btn i {
  position: absolute;
  font-size: 24px;
  transition: all 0.3s ease;
}
.wrapper .menu-btn i.ri-close-line {
  opacity: 0;
}
#btn:checked ~ .menu-btn i.ri-close-line {
  opacity: 1;
  transform: rotate(-180deg);
}
#btn:checked ~ .menu-btn i.ri-menu-fill {
  opacity: 0;
  transform: rotate(180deg);
}
#sidebar {
  position: fixed;
  background-color: #222;
  top: 70px;
  height: 100%;
  width: 270px;
  left: -270px;
  transition: all 0.3s ease;
  overflow-y: auto;
  z-index: 999;
}

#sidebar::-webkit-scrollbar {
  width: 8px;
}

#sidebar::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 10px;
}

#btn:checked ~ #sidebar {
  left: 0;
}

.show-sidebar {
  left: 0;
}

#sidebar .title {
  line-height: 65px;
  text-align: center;
  background: #555;
  font-size: 25px;
  font-weight: 600;
  color: #f2f2f2;
  border-bottom: 1px solid #555;
}

.pages-sidebar {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.3em;
}

.pages-sidebar li a:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
  color: var(--primary-black);
}

.pages-sidebar li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

.pages-sidebar li a i {
  margin-right: 4px;
  position: relative;
  top: 4px;
  font-size: 22px;
}

#sidebar .list-items {
  position: relative;
  background: #222;
  width: 100%;
  list-style: none;
}
.list-item {
  color: #ffffff;
  font-size: 23px;
  font-weight: 500;
}

#sidebar .list-items li {
  border-top: 1px solid #333;
  border-bottom: 1px solid #444;
}

#sidebar .list-items li button {
  line-height: 50px;
  transition: all 0.3s ease;
}
#sidebar .list-items li:hover {
  background-color: #333;
}

.active-filter {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px #222;
}

#sidebar .list-items li:first-child {
  border-top: none;
  background-color: #333;

}
#sidebar .list-items li button {
  color: var(--primary-white);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}
#sidebar .list-items li i {
  margin-right: 20px;
}
#sidebar .list-items li:hover {
  cursor: pointer;
}
#sidebar .list-items .icons {
  width: 100%;
  height: 40px;
  text-align: center;
  position: relative;
  top: 20px;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sidebar .list-items .icons a {
  height: 100%;
  width: 40px;
  display: block;
  margin: 0 5px;
  font-size: 18px;
  color: var(--primary-white);
  background: var(--primary-white);
  border-radius: 5px;
  border: 1px solid var(--primary-black);
  transition: all 0.3s ease;
}
#sidebar .list-items .icons a:hover {
  background: var(--primary-white);
}
.list-items .icons a:first-child {
  margin-left: 0px;
}

/* dark mode styles */

.pages-sidebar li a.dark-mode{
  color: #f2f2f2;
}

.pages-sidebar li a.dark-mode:hover{
  background-color: #f2f2f2;
  border-radius: 10px;
  color: var(--primary-white);
}

#sidebar .list-items li button.dark-mode{
  color:white !important;
}

.wrapper .menu-btn.dark-mode{
  border: 2px solid white;
}

/* sidebar ends  */

/* search box start */

.container {
  float: right;
  position: relative;
  top: 3px;
}

.container .input {
  border: 0;
  color: var(--primary-black);
}

.search_wrap {
  position: relative;
}

.search_box {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 60px;
  top: 7px;
  right: 10%;
}

.search_box .input {
  position: absolute;
  width: 100%;
  height: 80%;
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 18px;
  background: #f1f1ef;
  color: var(--primary-black);
  border: 2px solid var(--primary-black);
}

.search_box .input::placeholder {
  color: rgba(128, 128, 128, 0.8);
}

.search_box .btn {
  position: absolute;
  width: 52px;
  height: 80%;
  background: var(--primary-black);
  z-index: 1;
  cursor: pointer;
  right: 0px;
  border-radius: 47%;
}

.search_box .fas {
  position: absolute;
  right: 5px;
  top: 49%;
  transform: translate(-50%, -50%);
  color: var(--primary-white);
  font-size: 20px;
}

.search_wrap.search_wrap_3 .search_box .input {
  padding-right: 80px;
  border-radius: 50px;
}

/* search box end */

/* nav pages start  */
.pages {
  float: right;
  position: relative;
  right: 60px;
}

.pages li {
  display: inline-block;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color: var(--primary-black);
}

.pages li a {
  margin: 3px;
  text-decoration: none;
  padding: 0px 20px;
  color: var(--primary-black);
  transition: all 0.3s ease-in-out;
}

.pages li a:hover {
  padding: 3px 20px;
  color: var(--primary-white);
  background-color: var(--primary-black);
  border-radius: 10px;
}

.pages li .hoverele:hover{
  color:var(--primary-white);
  background-color:var(--primary-black) ;
  /* border:2px dashed #222; */
}

.pages li a.active {
  padding: 3px 20px;
  color: var(--primary-white);
  background-color: var(--primary-black);
  border-radius: 10px;
}
/* nav pages end  */

/* ================================  Free-Hit logo*/

.Free-Hit {
  font-weight: lighters;
  height: 100%;
  margin-top: 4px;
}

.nav-link{
  margin: 0;
  padding: 0;
  height: 100%;
}

/* .free-logo {
  top: 1px;
  height: 40px;
  margin: 11px;
  width: 130px;
} */

.free-logo {
  width: 220px;
  height: 55px;
  margin-right: 10px;
  margin-top: 4px;
}

.mobile-logo {
  display: none;
}

@media screen and (max-width: 520px) {
    .free-logo{
      display: none;
    }
    .mobile-logo{
      margin-top: 8px;
      display: flex;
      width: 46px;
      height: 46px;
    }
    .mobile-logo.dark-mode{
      border: 2px solid white;
    }
    .Free-hit{
      size: 100px
    }
    
}

.free-logo.dark-mode{
  /* :white; */
}

/* ================================  Free-Hit logo end*/

.hnav-link {
  position: relative;
}

.hnav-suggestionbar {
  position: absolute;
  top: 62%;
  width: 80%;
  background: #353535;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #c1c1c1;
  z-index: 100;
  line-height: 40px;
}
.hnav-suggestionbar li {
  list-style: none;
  padding-left: 10px;
}
.hnav-suggestionbar li:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
  border-radius: 5px;
}

.hnav-suggestion {
  cursor: pointer;
}

.diplay-none {
  display: none;
}
.diplay-block {
  display: block;
}
.about-list {
  padding-left: 12px;
}
@media screen and (max-width: 421px){
  .free-logo{
    position: relative;
    left: -27px;
    width: 40px;
    height: 40px;
    top: 5px;
  }
}

