.title-bar {
  background-color: #3333;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.logo {
  height: 60px;
  width: 60px;
  display: block;
}

input[type='text'] {
  padding: 0.45rem;
  border-radius: 7px;
  border: none;
  font-size: 1rem;
  outline: none;
  border-radius: 30px;
  padding: 15px;
  width: 100%;
  margin: 1rem 0;
  background-image:linear-gradient(to right,#000C40, #0F2027,#2C5364) ;
}


input[type='text']:focus {
  color: #fff;
}

.logo-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;}

.search-icon {
  height: 22px;
  width: 22px;
  color:#3494E6;
  margin-left: -40px;
  z-index: 1;
}
.hnav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.name{
  font-family: monospace;
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  .title-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }

  .logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 10px;
  }
  .logo{
    height: 40px;
    width: 40px;
  }
  .name{
    font-size: 1.2rem;
  }
}