:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

.featured-tools-title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 40px;
  color: var(--primary-black);
  margin-top: 20px;
}

.more-tools-btn {
  background-color: var(--primary-black);
  color: var(--primary-white);
  margin: 10px 40px;
  border-radius: 8px;
  padding: 6px 25px;
  border: 2px solid var(--primary-black);
}
