@import 'header.css';
@import 'Home.css';
@import 'About.css';
@import 'Team.css';
@import 'Footer.css';
@import 'BackToTop.css';
@import 'NotFound.css';
@import 'Community.css';

:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  background-color: var(--primary-white);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-black);
  background: var(--primary-black);
  background: var(--primary-black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: var(--primary-white);
}

/* ===============================1560 media query */
@media screen and (max-width: 1560px) {
  .about {
    margin: 50px 100px;
  }

  .about .ab2 p {
    position: relative;
    top: 70px;
  }
}


/* ===============================1420 media query */
@media screen and (max-width: 1420px) {
  .pages li {
    bottom: 0px;
  }
}

/* ===============================1370 media query */


/* ===============================1320 media query */
@media screen and (max-width: 1320px) {
  .pages {
    display: none;
  }
}

/* ===============================1200 media query */


/* ===============================1070px media query */
@media screen and (max-width: 1070px) {
  .search_wrap .search_box .input {
    width: 58%;
    font-size: 16px;
  }

  .search_wrap .search_box .btn {
    right: 220px;
  }

  .Free-Hit {
    top: 3px;
  }

  .free-logo {
    top: 8px;
  }



  .boomark-title {
    font-size: 40px;
    text-align: start;
    margin-left: 30px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}

/* ===============================1000px media query */
@media screen and (max-width: 1000px) {
  .Free-Hit {
    top: -1px;
  }


}

/* ===============================900px media query */
@media screen and (max-width: 900px) {
  .team-content {
    grid-template-columns: repeat(2, minmax(130px, auto));
  }


}

/* ===============================799 media query */
@media screen and (max-width: 799px) {
  .Free-Hit {
    right: 240px;
  }

  .free-logo {
    /* margin-left: 15px; */
    bottom: 10px;
  }



  .grid {
    grid-template-columns: repeat(2, minmax(300px, auto));
  }
}

/* ===============================750 media query */
@media screen and (max-width: 750px) {
  .search_box {
    width: 200px;
  }

  .Free-Hit {
    top: -1px;
  }


  .team-content {
    grid-template-columns: repeat(2, minmax(120px, auto));
  }
}

/* ===============================700 media query */
@media screen and (max-width: 700px) {
  .Free-Hit a:first-child {
    position: relative;
    top: 12px;
  }

  .free-word {
    display: none;
  }
}

/* ===============================650 media query */
@media screen and (max-width: 650px) {


  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  }

  .nav-container {
    padding-top: 2px;
  }
}

/* ===============================600 media query */
@media screen and (max-width: 600px) {
  .navbar {
    width: 100vw;
  }

  .nav-container {
    font-size: 26px;
  }

  .grid {
    margin-top: 1rem;
  }

  .team-content {
    grid-template-columns: repeat(1, minmax(200px, 250px));
    padding: 0 25%;
  }


  .backToTopButton {
    position: fixed;
    z-index: 50;
    bottom: 3rem;
    right: 3rem;
  }

  .transition-before {
    transform: translateY(20vh);
  }

  .Free-Hit {
    top: 0px;
  }
}

/* ===============================500 media query */
@media screen and (max-width: 500px) {
  .Free-Hit {
    right: 240px;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  }
}

/* ===============================450 media query */
@media screen and (max-width: 450px) {


  .team-content {
    margin-left: 25px;
    grid-template-columns: repeat(1, minmax(300px, 320px));
    padding: 0;
  }

  .team-content {
    margin-left: 60px;
  }

  .center h1 {
    font-size: 1.5rem;
  }
}

/* ===============================420px media query */
@media screen and (max-width: 420px) {
  .team-content {
    margin-left: 40px;
    grid-template-columns: repeat(1, minmax(300px, 320px));
    padding: 0;
  }

  .wrapper .menu-btn {
    left: 10px;
    top: 65px;
    height: 40px;
    width: 40px;
  }

  .Free-Hit {
    right: 200px;
  }

  .free-logo {
    position: relative;
    left: -23px;
    top: 5px;
    width: 40px;
    height: 40px;
  }

  .search_box {
    height: 52px;
    top: 11px;
  }

  .backToTopButton {
    right: 2rem;
  }

  .nav-container {
    padding-top: 0;
  }
}

/* ===============================395 media query */

@media screen and (max-width: 395px) {
  .team-content {
    margin-left: 8%;
    padding: 0;
  }
}

/* ===============================380 media query */
@media screen and (max-width: 380px) {
  .Free-Hit {
    right: 70%;
  }

  .search_box .input {
    position: absolute;
    width: 100%;
    height: 80%;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 18px;
    background-color: var(--primary-black);
  }

  .search_box .btn {
    position: absolute;
    width: 60px;
    height: 80%;
    background: var(--primary-black);
    z-index: 1;
    cursor: pointer;
    right: 0px;
    border-radius: 50%;
  }

  .team-content {
    margin-left: 8%;
    grid-template-columns: repeat(1, minmax(280px, 300px));
    padding: 0;
  }

  .center h1 {
    font-size: 1.3em;
    text-align: center;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1rem;
  }

  .backToTopButton {
    position: fixed;
    z-index: 50;
    bottom: 3rem;
    right: 1.5rem;
  }

  .transition-before {
    transform: translateY(20vh);
  }
}

/* ===============================360 media query */
@media screen and (max-width: 360px) {
  .team-content {
    margin-left: 10%;
  }

  .search_box {
    width: 160px;
  }
}

/* ===============================350 media query */
@media screen and (max-width: 350px) {
  .navbar {
    width: 100vw;
  }

  .Free-Hit {
    right: 68%;
  }

  .grid {
    padding: 5px;
  }

  .backToTopButton {
    position: fixed;
    z-index: 50;
    bottom: 3rem;
    right: 1rem;
  }

  .grid > article {
    height: 230px;
  }

  .transition-before {
    transform: translateY(-120vh);
  }
}

/* ===============================310 media query */
@media screen and (max-width: 310px) {
  .search_box {
    width: 150px;
  }
}
