@import 'header.css';
@import 'Home.css';
@import 'About.css';
@import 'Team.css';
@import 'Footer.css';
@import 'BackToTop.css';
@import 'NotFound.css';
@import 'Community.css';

:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

.app{
  background-color: var(--primary-white);
}
:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
  background-color: var(--primary-white);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-black);
  background: var(--primary-black);
  background: var(--primary-black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  background-color: var(--primary-white);
}

.routes-holder{
  min-height: 67vh;
}

/* ===============================1560 media query */
@media screen and (max-width: 1560px) {
  .about {
    margin: 50px 100px;
  }

  .about .ab2 p {
    position: relative;
    top: 70px;
  }
}

/* ===============================1480 media query */
@media screen and (max-width: 1480px) {
  .about {
    margin: 50px 100px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about .ab1 p {
    top: 90px;
  }

  .about .ab2 p {
    top: 80px;
  }

  .about .ab1 p {
    margin-right: 50px;
    top: 100px;
  }
}

/* ===============================1420 media query */
@media screen and (max-width: 1420px) {
  .pages li {
    bottom: 0px;
  }
}

/* ===============================1370 media query */
@media screen and (max-width: 1370px) {
  .about {
    margin: 50px 100px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .about .ab2 {
    width: 100%;
  }

  .about .ab1 {
    width: 100%;
  }

  .about .ab2 p {
    margin-left: 50px;
    position: relative;
    top: 50px;
    font-size: 28px;
  }

  .about .ab1 p {
    margin-right: 90px;
    position: relative;
    top: 100px;
    font-size: 28px;
  }
}

/* ===============================1320 media query */
@media screen and (max-width: 1320px) {
  .pages {
    display: none;
  }
}

/* ===============================1200 media query */
@media screen and (max-width: 1200px) {
  .about {
    margin: 50px 30px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* ===============================1070px media query */
@media screen and (max-width: 1070px) {
  .search_wrap .search_box .input {
    width: 58%;
    font-size: 16px;
  }

  .search_wrap .search_box .btn {
    right: 220px;
  }

  .Free-Hit {
    top: 3px;
  }

  .free-logo {
    top: 8px;
  }

  .about {
    margin: 50px 30px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .boomark-title {
    font-size: 40px;
    text-align: start;
    margin-left: 30px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}

/* ===============================1000px media query */
@media screen and (max-width: 1000px) {
  .Free-Hit {
    top: -1px;
  }

  .about .ab2 img {
    position: relative;
    top: 10%;
  }
}

/* ===============================900px media query */
@media screen and (max-width: 900px) {
  .team-content {
    grid-template-columns: repeat(2, minmax(130px, auto));
  }

  .about {
    margin: 5px 10px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* ===============================799 media query */
@media screen and (max-width: 799px) {
  .Free-Hit {
    right: 240px;
  }

  .free-logo {
    /* margin-left: 15px; */
    bottom: 10px;
  }

  .about .ab1 p {
    margin-right: 8px;
    font-size: 28px;
    top: 20%;
  }

  .about {
    margin: 5px 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .about .ab2 p {
    margin-left: 8px;
    font-size: 28px;
    top: 10%;
  }

  .grid {
    grid-template-columns: repeat(2, minmax(300px, auto));
  }
}

/* ===============================750 media query */
@media screen and (max-width: 750px) {
  .search_box {
    width: 200px;
  }

  .Free-Hit {
    top: -1px;
  }

  .about .ab1 p {
    margin-right: 10px;
    font-size: 24px;
    top: 20%;
  }

  .about .ab2 p {
    margin-left: 30px;
    font-size: 24px;
    font-weight: 550;
    top: 10%;
  }

  .about img {
    width: 350px;
    height: 350px;
  }

  .about .ab2 img {
    position: relative;
    top: 20%;
  }

  .team-content {
    grid-template-columns: repeat(2, minmax(120px, auto));
  }
}

/* ===============================700 media query */
@media screen and (max-width: 700px) {
  .Free-Hit a:first-child {
    position: relative;
    top: 12px;
  }

  .free-word {
    display: none;
  }
}

/* ===============================650 media query */
@media screen and (max-width: 650px) {
  .about img {
    width: 350px;
    height: 350px;
  }

  .about .ab1 p {
    margin-right: 15px;
    font-size: 28px;
    top: 10%;
  }

  .about .ab2 p {
    margin-left: 15px;
    font-size: 28px;
    top: 10%;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  }

  .nav-container {
    padding-top: 2px;
  }
}

/* ===============================600 media query */
@media screen and (max-width: 600px) {
  .navbar {
    width: 100vw;
  }

  .nav-container {
    font-size: 26px;
  }

  .about {
    margin: 0px 0px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .about .ab1 {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .about .ab2 {
    flex-direction: column;
    margin-right: 100px;
  }

  .about .ab1 p {
    margin-right: 10px;
    font-size: 28px;
    bottom: 500px;
    padding: 40px;
  }

  .about .ab1 img {
    margin-top: 50px;
    margin-left: 13%;
  }

  .about .ab2 p {
    margin-left: 0px;
    font-size: 28px;
    top: 0%;
    padding: 40px;
  }

  .about .ab2 img {
    margin-top: 0px;
    margin-left: 15%;
    order: 2;
    top: 0px;
  }

  .about img {
    width: 400px;
    height: 400px;
  }

  .grid {
    margin-top: 1rem;
  }

  .team-content {
    grid-template-columns: repeat(1, minmax(200px, 250px));
    padding: 0 25%;
  }

  .about {
    position: relative;
    top: -80px;
  }

  .backToTopButton {
    position: fixed;
    z-index: 50;
    bottom: 3rem;
    right: 3rem;
  }

  .transition-before {
    transform: translateY(20vh);
  }

  .Free-Hit {
    top: 0px;
  }
}

/* ===============================500 media query */
@media screen and (max-width: 500px) {
  .Free-Hit {
    right: 240px;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  }

  .about .ab1 img {
    margin-left: 5%;
  }

  .about .ab2 img {
    margin-left: 5%;
  }
}

/* ===============================450 media query */
@media screen and (max-width: 451px) {
  .about {
    padding-left: 0px;
    padding-right: 0px;
  }

  .about .ab1 {
    margin-bottom: 40px;
  }

  .about .ab2 {
    margin-right: 0px;
  }

  .about .ab1 p {
    font-size: 28px;
    bottom: 500px;
    padding: 30px;
  }

  .about .ab1 img {
    margin-top: 50px;
    margin-left: 1%;
  }

  .about .ab2 p {
    margin-left: 0px;
    font-size: 28px;
    top: 0%;
    padding: 30px;
  }

  .about .ab2 img {
    margin-top: 0px;
    margin-left: 1%;
    order: 2;
  }

  .about img {
    width: 400px;
    height: 400px;
  }

  .team-content {
    margin-left: 0px;
    grid-template-columns: repeat(1, minmax(300px, 320px));
    padding: 46px;
  }
  .center h1 {
    font-size: 1.5rem;
  }
}

/* ===============================420px media query */
@media screen and (max-width: 421px) {
  .team-content {
    grid-template-columns: repeat(1, minmax(300px, 320px));
  }

  .wrapper .menu-btn {
    left: 10px;
    top: 65px;
    height: 40px;
    width: 40px;
  }

  .Free-Hit {
    right: 200px;
  }

  .free-logo {
    position: relative;
    left: -23px;
    top: 5px;
    width: 40px;
    height: 40px;
  }

  .search_box {
    height: 52px;
    top: 11px;
  }

  .backToTopButton {
    right: 0.2rem;
  }

  .nav-container {
    padding-top: 0;
  }
}

/* ===============================395 media query */

@media screen and (max-width: 401px) {
  .team-content {
    margin-left: 0;
    padding: 25px;
  }
  .about img {
    width: 368px;
    height: 368px;
}
  
}

/* ===============================380 media query */
@media screen and (max-width: 381px) {
  .Free-Hit {
    right: 70%;
  }

  .search_box .input {
    position: absolute;
    width: 100%;
    height: 80%;
    padding: 10px 20px;
    border-radius: 100px;
    font-size: 18px;
    background-color: var(--primary-black);
  }

  .search_box .btn {
    position: absolute;
    width: 60px;
    height: 80%;
    background: var(--primary-black);
    z-index: 1;
    cursor: pointer;
    right: 0px;
    border-radius: 50%;
  }

  .about {
    position: relative;
    top: -60px;
  }

  .about .ab1 {
    display: flex;
  }

  .about .ab2 {
    margin-right: 0px;
  }

  .about .ab1 p {
    margin-right: 0px;
    font-size: 24px;
    bottom: 500px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .about .ab1 img {
    margin-top: 50px;
    height: 330px;
    width: 330px;
  }

  .about .ab2 p {
    margin-left: 0px;
    font-size: 24px;
    font-weight: 550;
    top: 0%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .about .ab2 img {
    margin-top: 0px;
    margin-left: 1%;
    height: 360px;
    width: 360px;
    order: 2;
  }

  .about img {
    width: 400px;
    height: 400px;
  }

  .team-content {
    margin-left: 0%;
    grid-template-columns: repeat(1, minmax(280px, 300px));
    padding: 25px;
  }

  .center h1 {
    font-size: 1.3em;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    gap: 1rem;
  }

  .backToTopButton {
    position: fixed;
    z-index: 50;
    bottom: 3rem;
    right: 1.5rem;
  }

  .transition-before {
    transform: translateY(20vh);
  }
}

/* ===============================360 media query */
@media screen and (max-width: 360px) {
  .team-content {
    margin-left: 0%;
  }

  .search_box {
    width: 160px;
  }
}

/* ===============================350 media query */
@media screen and (max-width: 350px) {
  .navbar {
    width: 100vw;
  }

  .Free-Hit {
    right: 68%;
  }

  .grid {
    padding: 5px;
  }

  .backToTopButton {
    position: fixed;
    z-index: 50;
    bottom: 3rem;
    right: 1rem;
  }

  .grid > article {
    height: 230px;
  }

  .transition-before {
    transform: translateY(-120vh);
  }
}

/* ===============================310 media query */
@media(max-width: 320px) {
  .search_box {
    width: 150px;
  }
}

