:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

.list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 55vh;
  width: 100%;
  /* height:100%; */
  gap: 20px;
  padding: 5px 15px;
  margin-top: 25px;
  /* margin-bottom: 25px; */
}

.list .article {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  padding: 10px 20px;
  border: 2px solid var(--primary-black);
  border-radius: 8px;
  gap:0px;
  box-shadow: 8px 8px 2px 0px var(--primary-black);
}

.list .image {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20px;
  width: 100%;
}

.list .image .card-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.list .accordion_btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
}

.list .card-title {
  font-size: 24px;
  font-weight: 600;
  width:inherit;
  letter-spacing: 0.2px;
  text-align: left;
  color: var(--primary-black);
  text-decoration: none;
}

.list .card-title:hover{
  text-decoration: none;
}

.list .text p {
  /* max-width: 100%; */
  color: var(--primary-black);
}

.list .btn-cont {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  /* margin-top: 10px; */
}

.accordion_panel .btn-cont {
  display: none;
}

.accordion_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column; */
}

.list .visit:hover{
  transition: all 0.3s ease-out;
}
.list .bookmark:hover{
  transition: all 0.3s ease-out;
}
.list .delete:hover{
  transition: all 0.3s ease-out;
}

/* dar-mode styles */

.list .down.dark-mode{
  color:white;
}

.list .visit.dark-mode:hover{
  transition: all 0.3s ease-out;
}

.list .bookmark.dark-mode:hover {
  transition: all 0.3s ease-out;
}

.list.dark-mode .accordion_item {
  border-color: #ffffff;
  box-shadow: 8px 8px 2px 0px #ffffff;
}

.list.dark-mode .accordion_item:hover {
  box-shadow: 8px 8px 2px 0px #ffffff;
}

@media (max-width: 560px) {
  .list .btn-cont {
    justify-content: center;
  }

  .list .accordion_btn .btn-cont {
    display: none;
  }

  .list .accordion_panel {
    display: flex;
    flex-direction: column;
  }

  .list .accordion_panel p {
    text-align: center;
    line-height: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .list .accordion_panel .btn-cont {
    display: flex;
  }
}

@media (max-width: 750px) {
  .list .accordion_btn .card-title {
    font-size: 20px;
  }
}

@media (max-width: 660px) {
  .list .accordion_btn .card-title {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .list {
    padding: 50px 20px 20px;
    margin-top: -15px;
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .list {
    padding: 50px 50px 20px;
    margin-top: -15px;
  }
}

@media (min-width: 1280px) {
  .list {
    padding: 50px 80px 20px;
    margin-top: -15px;
  }
}

@media (min-width: 1536px) {
  .list {
    padding: 50px 120px 20px;
    margin-top: -15px;
  }
}
