:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

.pagination {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstbutton, .lastbutton{
  color: white;
  background-color: #373530;
  padding-left: 0px;
  margin: 5px;
  padding: 4px 4.6px 4.7px 4.2px;
  border-radius: 4px;
  border: 2px solid var(--primary-black);
}

.lastbutton{
  padding-left: 0px;
  margin: 5px;
  padding: 4px 4.6px 4.7px 4.2px;
  border-radius: 4px;
  border: 2px solid var(--primary-black);
}
.prevbutton{
  color: white;
  background-color: #373530;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid var(--primary-black);
}
.nextbutton{
  color: white;
  background-color: #373530;
  margin: 10px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 2px solid var(--primary-black);
}
.paginate-button {
  color: var(--primary-black);
  border: 2px solid var(--primary-black);
  margin: 5px;
  padding: 5px 10px;
  border-radius: 4px;
}

.paginate-button:hover{
  transform: scale(1.05);
}

.selected-page {
  color: var(--primary-white);
  background-color: var(--primary-black);
}
.selected-page.dark-mode {
  color: var(--primary-black);
  background-color: var(--primary-white);
}

.paginate-nav {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-black);
}


/* .dark-mode .paginate-button{
  color: var(--primary-white);
  background-color: var(--primary-black);
}
.dark-mode .paginate-nav {

  background-color: var(--primary-white);
} */
@media screen and (max-width: 550px) {
  .paginate-nav{
    font-size: 15px;
    margin-top: 4px;
  }
  .paginate-button, .prevbutton, .nextbutton {
   
    border: 2px solid var(--primary-black);
    margin: 5px;
    margin-left: 4px;
    padding: 0px 6px;
    border-radius: 4px;
  }
  .firstbutton,.lastbutton{
    padding: 0px 1px 1px 2px;
  }
}