:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate-button {
  color: var(--primary-black);
  /* background-color: var(--primary-white); */
  border: 2px solid var(--primary-black);
  margin: 10px;
  padding: 5px 10px;
  border-radius: 4px;
}

.paginate-button:hover{
  box-shadow:  2px 1px 5px rgba(0,0,0,0.7);
  transform: scale(1.05);
}

.selected-page {
  color: var(--primary-white);
  background-color: var(--primary-black);
}
.selected-page.dark-mode {
  color: var(--primary-black);
  background-color: var(--primary-white);
}

.paginate-nav {
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-black);
}


/* .dark-mode .paginate-button{
  color: var(--primary-white);
  background-color: var(--primary-black);
}
.dark-mode .paginate-nav {

  background-color: var(--primary-white);
} */
