:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginate-button {
  color: var(--primary-black);
  border: 2px solid var(--primary-black);
  margin: 10px;
  padding: 5px 10px;
  border-radius: 4px;
}

.paginate-button:hover {
  color: var(--primary-white);
  background-color: var(--primary-black);
}

.selected-page {
  color: var(--primary-white);
  background-color: var(--primary-black);
}

.paginate-nav {
  font-size: 20px;
}
