.share-model {
    position: fixed;
    inset: 0;
    background: #fff;
    z-index: 9;
    color: var(--primary-white);
    display: grid;
    place-items: center;
}


.bookmarkModel {
  padding: 20px;
  display: flex;
  text-align: center;
  align-items: center;    
  }
  
  .alert-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .alert-content {
    background-color: #c6e6da;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  .bookmarkDelete{
    background-color: rgb(255, 170, 170);
  }

  