:root {
  --primary-white: #f1f1ef;
  --primary-black: #373530;
}

body {
  background-color: var(--primary-white);
}

.team {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 100px;
  padding: 0% 6%;
  margin-top: 80px;
}
.team-content {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, auto));
  align-items: center;
  gap: 2rem;
  text-align: center;
  margin-top: 4rem;
}

.team-content img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}
.center h1 {
  color: rgb(52, 49, 49);
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.box {
  padding: 16px;
  background: var(--primary-white);
  border-radius: 15px;
  transition: all 0.38s ease;
  border: 4px solid rgb(55, 55, 55);
  cursor: pointer;
}
.box h3 {
  font-size: 23px;
  font-weight: 600;
  color: #12110f;
  margin-bottom: 8px;
}
.box h5 {
  font-size: 15px;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
  letter-spacing: 2px;
}
.icons i {
  display: inline-block;
  color: black;
  font-size: 20px;
  margin: 0 8px;
  transition: all 0.38s ease;
}
.icons i:hover {
  transform: scale(1.5);
}
.box:hover {
  transform: translateY(-10px);
}
@media (max-width: 1260px) {
  .team {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
  .center h1 {
    font-size: 3.8rem;
  }
}
@media (max-width: 1240px) {
  .team {
    padding: 90px 6%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .center h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 1200px) {
  .team {
    padding: 0px 6%;
    margin-top: -100px;
  }
  .center h1 {
    font-size: 3.3rem;
  }
}
@media (max-width: 1000px) {
  .team {
    padding: 0px 7.1%;
    margin-top: -55px;
    white-space: nowrap;
  }
  .center h1 {
    font-size: 3rem;
  }
}
@media (max-width: 952px) {
  .team {
    padding: 0px 8%;
    margin-top: -30px;
  }
  .center h1 {
    font-size: 2.9rem;
  }
}
@media (max-width: 900px) {
  .team {
    padding: 0px 20%;
    margin-top: 20px;
    white-space: nowrap;
  }
  .center h1 {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .center h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 600px) {
  .team {
    margin-top: -120px;
    padding: 0 2%;
  }
  .center h1 {
    font-size: 1.6rem;
  }
}

@media (max-width: 1000px) {
  .box {
    padding: 6px;
  }
  .box h3 {
    font-size: 21px;
  }
}
