@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

html{
  background-color: #232427
}

*,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

#root {
  background-color: #232427
}

/* Buttons */

.website-link-btn,
.background-button {
  background-color: #fff;
  color: #000;
  width: 9.5rem;
  height: 2rem;
  border: none;
  border-radius: 8px;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.background-button:hover,
.website-link-btn:hover {
  background-color: #232427;
  color: #fff;
}

.content .website-link-btn {
  cursor: pointer;
}

p,
.nav-link {
  color: #fff;
}

/* Filter section */
.filter-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #232427;
  margin-block: 3rem;
}

/* Products, cards, contents */


.cols {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  width: calc(20% - 2rem);
  margin: .7rem;
  cursor: pointer;
}

.container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card_image{
  border-radius: 70%;
  width: 70px;
  height: 70px;
}

.front,
.back {
  background-size: cover;
  background-position: center;
  transition: transform 1s cubic-bezier(.4, .2, .2, 1);
  backface-visibility: hidden;
  text-align: center;
  min-height: 300px;
  min-width: 220px;
  height: auto;
  border-radius: 10px;
  color: #000;
  font-size: 1rem;
}

.back {
  background-color: #121212;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: 1;
  background-color: #121212;
  backface-visibility: hidden;
  border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
  transition: transform 1.2s cubic-bezier(.4, .2, .2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 53%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
  outline: 1px solid transparent;
  perspective: inherit;
  z-index: 1;
  color:white;
}

.container .back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.container .front {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .back {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.container:hover .front {
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #f4f7f1;
  text-align: center;
  position: relative;
}

.inner a {
  text-decoration: none;
  color: rgb(179, 39, 255);
  font-weight: bold;
}

.inner a:hover {
  color: #fff;
  transition: all .3s;
}


/* Header Title */
.nav-links,
.title-bar {
  background-color: #5432c5;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #232427;
}

/* Footer */
footer {
  background: #0f0d0d;
  width: 100%;
  height: 8rem;
  text-align: center;
  padding: 1rem;
  font-family: Arial, sans-serif;
  font-size: .875rem
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}


/* Media query */
@media screen and (max-width: 68rem) {
  .col {
    width: calc(33.333333% - 4rem);
  }
  .front,
  .back {
    min-height: 340px;
  }
}

@media screen and (max-width: 52rem) {
  .col {
    width: calc(45% - 2rem);
  }
  .front,
  .back {
    min-height: 340px;
  }
}

@media screen and (max-width: 38rem) {
  .col {
    width: 60%;
  }
  .front,
.back {
  min-height: 340px;
}
}