@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

*,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
}

#root {
  background-color: #232427
}

/* Buttons */

.website-link-btn,
.background-button {
  background-color: #fff;
  color: #000;
  width: 9.5rem;
  height: 2rem;
  border: none;
  border-radius: 8px;
  border: 2px solid #ffffff;
  cursor: pointer;
}


.background-button:hover,
.website-link-btn:hover {
  background-color: #232427;
  color: #fff;


}

.content .website-link-btn {
  cursor: pointer;
}


p,
.nav-link {
  color: #fff;
}

/* Filter section */
.filter-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #232427;
  margin-block: 3rem;
}

/* Products, cards, contents */
#products,
body .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#products {
  margin-block: 5rem;
}

body .container {
  max-width: 2000px;

}

body .container .card {
  cursor: pointer;
  position: relative;
  min-width: 320px;
  height: 380px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, .2), inset -5px -5px 15px rgba(255, 255, 255, .1), 5px 5px 15px rgba(0, 0, 0, .3), -5px -5px 15px rgba(255, 255, 255, .1);
  border-radius: 15px;
  margin: 30px;
  transition: .5s
}



body .container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: .5s
}

body .container .card .box:hover {
  transform: translateY(-15px)
}

body .container .card .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, .03)
}

body .container .card .box .content {
  padding: 20px;
  text-align: center
}

body .container .card .box .content h3 {
  font-size: 1.2rem;
  color: #fff;
  z-index: 1;
  transition: .5s;
  margin-bottom: 15px
}

.card-image {
  width: 60px;
  height: 60px;
  border-radius: 100px
}

/* Header Title */
.nav-links,
.title-bar {
  background-color: #5432c5;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #232427;
}

/* Footer */
footer {
  background: #0f0d0d;
  width: 100%;
  height: 8rem;
  text-align: center;
  padding: 1rem;
  font-family: Arial, sans-serif;
  font-size: .875rem
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}