@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
body{
    background-color: rgba(241, 241, 239);
    max-width: 350px;
    border: 2px solid black;
    padding: .25rem 1rem;
    height: 400px;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    transition: 0.3s ease-in;
}
body.expand{
    max-width: 450px;
}
.wrapper{
    position: relative;
}
#category-list-wrapper{
    max-width: 100px;
}
.middle-section{
    display: flex;
    height: calc(230px + 30px);
    border: 2px dashed rgb(55, 53, 48);
}
.category-list{
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    max-width: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 262px;
}
.category-list::-webkit-scrollbar{
    appearance: none !important;
    width: 0px !important;
}
.category-list li{
    color: rgb(55, 53, 48);
    text-transform: uppercase;
    border-bottom: 1px solid rgb(55, 53, 48);
    padding: .5rem 0;
    position: relative;
    width: 100%;
    flex-shrink: 0;
    font-size: 14px;
    transition: 0.3s ease-in;
    overflow: hidden;
}
.category-list.active{
    max-width: 130px;
}
.category-list li:hover,.category-list li.active{
    cursor: pointer;
    opacity: 0.7;
    background-color: rgb(55, 53, 48);
    color: rgba(241, 241, 239);
    /* text-decoration: underline; */
}

.category-list li.active{
    opacity: 1;
}


li{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(55, 53, 48);
}
#logo{
    width: 160px;
    height: 40px;
    border-radius: 10px;
}
header{
    display: flex;
    width: 320px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}
.btn{
    position: relative;
}
.tool-tip{
    position: absolute;
    background-color: rgb(55, 53, 48);
    color: rgba(241, 241, 239);
    font-family: 'Space Grotesk', sans-serif;
    text-align: center;
    font-size: 11px;
    width: 100px;
    border-radius: 2px;
    padding: 5px;
    z-index: 1000;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-70%);
    opacity: 0;
    transition: 0.3s ease-in;
}
.btn:hover .tool-tip{
    opacity: 1;
}
.button-wrapper{
    display: flex;
}
.name{
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 5px;
    gap: 10px;
}
.btn{
    background-color: rgba(241, 241, 239);
    border-radius: 10px;
    border: 2px solid rgba(241, 241, 239);
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.btn:hover{
    border: 2px dashed rgb(55, 53, 48);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form{
    position: relative;
    width: 250px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-heading{
    text-align: center;
}
.input{
    width: 100%;
    background-color: rgb(55, 53, 48);
    border-radius: 20px;
    font-size: 20px;
    padding: 5px 0 5px 10px;
    color: rgba(241, 241, 239);
    border: 2px solid rgb(55, 53, 48);
}
#search{
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.results{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 1rem;
    overflow-y: scroll;
    height: 230px;
    width: 280px;
    flex-shrink: 0;
    margin-bottom: 10px;
}

.result{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    transform: 0.3s ease-in;
    background-color: transparent;
    border-radius: 10px;
}

.websiteLogo{
    width: 50px;
    height: 50px;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    padding: 4px;
    overflow: hidden;
    flex-shrink: 0;
}

.websiteLogo img{
    object-fit: contain;
}

.websiteName{
    text-decoration: none;
    font-size: medium;
    color: black;
}
.result:hover .websiteLogo{
    background-color: rgb(55, 53, 48);
}
.result-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(55, 53, 48);
    box-shadow: rgb(55, 53, 48) 8px 8px 2px 0px;
    transition: 0.3s ease-in-out;
    width: 100%;
    flex-shrink: 0;
    border-radius: inherit;
}
.header-side-icon{
    padding: 1rem;
    transition: 0.3s ease-in;
}
.result.expand .header-side-icon{
    transform: rotateZ(180deg);
}
.result-body{
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(10px);
    max-height: 0;
    background-color: rgb(55, 53, 48);
    transition: max-height 0.3s ease-in;
    width: 100%;
    padding: 0 5px 0px 5px;
    color: rgba(241, 241, 239);
    border-radius: 5px;
}
.result:hover .result-header,.result:focus .result-header{
    border: 1px dashed rgb(55, 53, 48);
    cursor: pointer;
}
.result.expand .result-body{
    justify-content: flex-start;
    max-height: 100%;
    background-color:rgb(55, 53, 48);
}
.result-info{
    margin: auto;
    flex-grow: 0;
}
.description{
    margin: 0;
    padding-bottom: 10px;
    cursor: default;
    width: 100%;
    text-align:justify;
}
.side-link{
    color: rgba(241, 241, 239);
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    margin-bottom: .5rem;
    border-radius: 5px;
    padding: 2px 4px;
    transition: 0.3s;
    border: 2px solid rgba(241, 241, 239);
}
.side-link:hover{
    transform:scale(1.1);
}
.tags{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.tag{
    background-color: rgb(55, 53, 48);
    padding: 2px 5px;
    color: rgba(241, 241, 239);
    border-radius: 10px;
    text-align: center;
}
.scrollable::-webkit-scrollbar{
    appearance: none;
    width: 5px;
    background-color: rgb(55, 53, 48);
}
.scrollable::-webkit-scrollbar-thumb{
    background-color: rgba(241, 241, 239);
    border: 2px solid rgb(55, 53, 48);
}
